services:
  web:
    build: .
    image: oncall
    depends_on: [init]
    ports:
      - "8080:8080"
    read_only: false
    environment: &oncall_env
      ONCALL_DB_USER: oncall
      ONCALL_DB_PASSWORD: oncall
      ONCALL_DB_DATABASE: oncall
      ONCALL_DB_HOST: mysql
    volumes:
      - ./configs/config.docker.yaml:/app/config.yaml

  mysql:
    image: mariadb:12.0.2
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: 1234
      MARIADB_USER: oncall
      MARIADB_PASSWORD: oncall
      MARIADB_DATABASE: oncall
    command:
      --max-user-connections=100
    volumes:
      - mysql_data:/var/lib/mysql

  init:
    image: oncall
    restart: no
    entrypoint: [/app/.venv/bin/create-db]
    command: [/app/config.yaml, /app/init.sql]
    depends_on: [mysql]
    volumes:
      - ./configs/config.docker.yaml:/app/config.yaml
    environment:
      <<: *oncall_env

volumes:
  mysql_data:
